:root {
    --main-text-color: #29324A;
    --secondary-text-color: #A4A4A4;
    --main-background-color: #F3F4F7;
    --main-white-color: #FFFFFF;

    --postNL-orange: #ED7000;
    --postNL-blue: #3440B6;
    --input-grey: #D5D9E2;
  }

.informationWrapper{
    background-color: var(--main-white-color);
    margin: 40px 30px 40px 30px;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionInformationText{
    border: 4px var(--input-grey) solid;
    border-radius: 10px;
    width: 60%;
    padding: 0px 20px 0px 20px;
}   

.margin-top{
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .sectionInformationText{
        width: 80%;
    }
}

  @media only screen and (max-width: 500px) {
    .sectionInformationText{
        width: 95%;
    }  
  }